html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

body {
	background-color: black;
	display: flex;
	justify-content: center;
}

.wrapper {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: max(64rem, 1024px);
	transition: 0.5s ease;
	overflow: hidden;

	min-height: 520px;
}

.header {
	margin: 0 2rem;
}

.nav {
	margin: 0 0 0 2rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s ease;
	gap: 2rem;
}

h1.title {
	letter-spacing: 0.25rem;
	font-weight: 300;
	font-size: 2rem;
	text-align: center;
}

span.thin {
	font-weight: 300;
}
span.bold {
	font-weight: 800;
}

#hamburger {
	border: none;
	outline: none;
	color: inherit;
	background: none;
	cursor: pointer;
	width: 2rem;
	height: 3rem;
	padding: 0;
	flex-shrink: 0;
}

.bar1,
.bar2 {
	margin-bottom: 0.375rem;
}

.bar1,
.bar2,
.bar3 {
	height: 0.25rem;
	transition: 0.5s ease;
	border-radius: 0.0625rem;
	background-color: white;
}

.open .bar1 {
	transform: translate(0, 0.625rem) rotate(-45deg);
}

.open .bar2 {
	opacity: 0;
	transform: translate(-3rem, 0);
}

.open .bar3 {
	transform: translate(0, -0.625rem) rotate(45deg);
}

hr {
	width: 100%;
	padding: 0;
	margin: 1rem 0;
	border: 0.09375rem solid white;
	border-radius: 0.0625rem;
}

.main {
	background-color: black;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 100% 1fr;
	flex: 1;
	transition: 0.5s ease;
	width: 100%;
}

.sidebar-toggle {
	display: grid;
	grid-template-columns: 0 1fr;
}

.navigation {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
}

.nav {
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
	flex: 1;
}

.all-lists {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
}

.all-lists-inner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-mask-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 1) 10%);
	mask-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 1) 10%);
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	overflow-x: hidden;
}

.lists {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	flex: 1;
}

.lists .navigation .btnWrap {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	min-width: 18rem;
	gap: 0.5rem;
	margin-right: 2rem;
}

.lists .navigation .button {
	text-overflow: ellipsis;
	overflow: hidden;
}

button.nav-btn {
	font-size: 1.75rem;
	line-height: 2.5rem;
	font-weight: 800;
	text-align: left;
	color: grey;
	white-space: nowrap;
	letter-spacing: 0.0625rem;

	transition: color 0.5s ease;
}

#second-list input,
.tasks input,
.content .title input {
	line-height: 2.5rem;
	white-space: nowrap;
	border: none;
	outline: none;
	padding: 0 0.5rem;
	background-color: white;
	color: black;
	border: 0.0625rem solid black;
}

#second-list input {
	letter-spacing: 0.0625rem;
	font-size: 1.75rem;
	font-weight: 800;
}

.tasks input {
	font-size: 1rem;
	font-weight: 400;
}

.input-btns {
	display: flex;
	gap: 1rem;
}

#second-list .add-btn,
#second-list .cancel-btn,
.tasks .add-btn,
.tasks .cancel-btn {
	border: none;
	line-height: 2.5rem;
	padding: 0;
	margin: 0;
	font-weight: 400;
	flex: 1;
}

.add-btn {
	background-color: #15803d;
	border: solid 0.0625rem;
}

.cancel-btn {
	background-color: #991b1b;
	border: solid 0.0625rem;
}

.add-btn:hover {
	background-color: #166534;
}

.cancel-btn:hover {
	background-color: #7f1d1d;
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: calc(100vw - 4rem);
}

button.nav-btn:hover,
button.active {
	cursor: pointer;
	color: white;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	background-color: white;
	color: black;
	border-radius: 1.5625rem;
	padding: 2rem 0;
	width: 100vw;
	z-index: 1;
	overflow: hidden;
	position: relative;
}

.tasks-outer {
	position: relative;
	display: flex;
	flex: 1;
	min-height: 8rem;
}

.tasks {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0 0 2rem 0;
	margin: 0 0 1rem 0;
	font-size: 1rem;
	font-weight: 400;
	-webkit-mask-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 1) 10%);
	mask-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 1) 10%);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	margin-top: 0.5rem;
}

h2.title,
.content .title input {
	letter-spacing: 0.0625rem;
	font-weight: 800;
	font-size: 1.75rem;
	line-height: 2.5rem;
}

h2.title {
	margin: 0 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-height: 2.5rem;
	border: 0.0625rem transparent solid;
}

h2.title:hover {
	border: 0.0625rem black solid;
	padding: 0rem 0.5rem;
	cursor: pointer;
	display: flex;
	background-color: hsl(0, 0%, 95%);
}

h2.title.default:hover {
	display: initial;
	cursor: initial;
	padding: 0;
	border: 0.0625rem transparent solid;
	background-color: initial;
}

.content .title input {
	padding: 0 0.5rem;
	flex: 1;
	border: none;
}

.content .title:has(input) {
	display: flex;
	padding: 0;
	border: 0.0625rem black solid;
}

.content .title:has(input):hover {
	flex: 1;
}

.tasks-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.task-content:hover {
	display: flex;
	border: 0.0625rem black solid;
	background-color: white;
	padding: 0 0.5rem;
	text-overflow: unset !important;
	line-height: 2.5rem;
	cursor: pointer;
	background-color: hsl(0, 0%, 95%);
}

.task-content:has(.input-field) {
	padding: 0;
	border: none;
	height: auto;
}

.tasks .input-container {
	margin: 0.5rem 2rem 0 2rem;
	flex: 0;
}

.tasks-list li {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem 2rem;
	transition: background-color 0.5s ease;
}

.tasks-list li:hover {
	background-color: hsl(0, 0%, 95%);
	padding: 0rem 2rem;
	min-height: 3.5rem;
}

.circle {
	appearance: none;
	-webkit-appearance: none;
	position: relative;
	background: white;
	border: 0.0625rem solid black;
	border-radius: 100%;
	height: 1.5rem;
	width: 1.5rem;
	aspect-ratio: 1/1;
	cursor: pointer;
	box-sizing: border-box;
}

.circle:hover .checkMark,
.tasks-list li.done .circle .checkMark {
	position: absolute;
	transform: rotate(50deg) translate(-50%, -50%);
	left: 27%;
	top: 45%;
	height: 50%;
	width: 20%;
}

.circle .checkMark {
	pointer-events: none;
}

.circle:hover .checkMark {
	border-bottom: 0.125rem solid black;
	border-right: 0.125rem solid black;
}

.tasks-list li.done .circle {
	border: 0.0625rem solid grey;
}

.tasks-list li.done .circle .checkMark {
	border-bottom: 0.125rem solid grey;
	border-right: 0.125rem solid grey;
}

.tasks-list li .task-content {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
	min-width: 90px;
}

.tasks-list li .task-content:hover {
	line-height: 2.5rem;
}

.task-content {
	white-space: nowrap;
	border: transparent solid;
	border-width: 0.0625rem 0;
}

.tasks-list li:has(.task-content .input-field),
.tasks-list li:has(.date .input-field) {
	padding: 0rem 2rem;
	min-height: 3.5rem;
	transition: none;
}

.tasks-list li:has(.task-content .input-field) .task-content {
	display: flex;
}

.task-content .input-field {
	flex: 1;
}

.tasks-list li p {
	margin: 0;
}

.date {
	white-space: nowrap;
}

.date:hover {
	line-height: 2.5rem;
	padding: 0rem 0.5rem;
	border: 0.0625rem solid black;
	cursor: pointer;
}

.date input {
	height: 2.5rem;
	max-width: min-content;
}

.date:has(.input-field) {
	padding: 0;
	border: none;
}

.star:before {
	color: hsl(0, 0%, 33%);
	content: '\2606';
	display: block;
	line-height: 1rem;
	font-size: 2rem;
	transform: translateY(-0.125rem);
}

.star:hover:before {
	color: #f2b01e;
	cursor: pointer;
}

.star.yellow:before {
	color: #f2b01e;
	content: '\2605';
	cursor: pointer;
}

.done .star:before {
	opacity: 0.5;
	filter: grayscale();
}

.tasks-list li:hover .remove,
.navigation .btnWrap:hover .remove {
	visibility: visible;
}

.navigation .btnWrap .remove:after,
.navigation .btnWrap .remove:before {
	border-left: 0.0625rem solid white;
}

.remove {
	height: 1.5rem;
	width: 1.5rem;
	position: relative;
	visibility: hidden;

	flex-shrink: 0;
}

.remove:after {
	content: '';
	height: 100%;
	border-left: 0.0625rem solid black;
	position: absolute;
	transform: rotate(45deg);
	left: 50%;
}

.remove:before {
	content: '';
	height: 100%;
	border-left: 0.0625rem solid black;
	position: absolute;
	transform: rotate(-45deg);
	left: 50%;
}

.remove:hover {
	cursor: pointer;
}

.remove:hover:before,
.remove:hover:after {
	border-left: 0.125rem solid black;
}

.navigation .btnWrap .remove:hover:after,
.navigation .btnWrap .remove:hover:before {
	border-left: 0.125rem solid white;
}

.done :not(.star) {
	color: grey;
	text-decoration: line-through;
	text-decoration-thickness: 0.125rem;
}

.content.empty:before,
.content.exists:before,
.tasks-list li.empty:before,
.tasks-list li.exists:before,
.input-container.empty:before,
.input-container.exists:before {
	content: attr(data-before);
	width: 100%;
	background-color: hsl(0, 0%, 37.5%);
	color: white;
	position: absolute;
	line-height: 2.5rem;
	z-index: 1;
	animation-name: popup-disappear;
	animation-delay: 0.5s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.content.empty:before,
.content.exists:before {
	padding: 0rem 2rem;
	border: 0.0625rem solid hsl(0, 0%, 37.5%);
}

.tasks-list li.empty:before,
.tasks-list li.exists:before {
	margin-left: -2rem;
	padding: 0rem 4rem;
	border: 0.0625rem solid hsl(0, 0%, 37.5%);
}

.content .input-container.empty:before,
.content .input-container.exists:before {
	margin-left: -2rem;
	padding: 0rem 1.5rem 0rem 2.5rem;
	border: 0.0625rem solid hsl(0, 0%, 37.5%);
}

#second-list .input-container.empty:before,
#second-list .input-container.exists:before {
	padding: 0rem 0rem 0rem 0.5rem;
	border: 0.0625rem solid hsl(0, 0%, 37.5%);
	width: 100vw;
}

.tasks-list li.lock .task-content,
.content.lock .title {
	pointer-events: none;
}

@keyframes popup-disappear {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.button {
	background-color: inherit;
	color: white;
	border: none;
	padding: 0;
}

button:hover {
	cursor: pointer;
}

.btns {
	display: flex;
	flex-direction: row;
	margin: 0 2rem;
	gap: 1rem;
	flex-wrap: wrap-reverse;
}

.btns .primary {
	display: flex;
	flex: 1 0 100%;
}

.btns .secondary {
	display: flex;
	flex: 1 0;
	gap: 1rem;
	flex-wrap: wrap-reverse;
}

.action {
	padding: 1rem;
	border-radius: 0.625rem;
	border: 0.1875rem solid white;
	color: white;
	box-sizing: border-box;
	font-weight: 800;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	max-width: calc(100vw - 4rem);
	width: 100vw;
}

.content button.action {
	max-width: unset;
	width: unset;
	min-width: max-content;
	flex: 1;
}

#new-list-btn:hover,
.black-btn:hover {
	opacity: 0.5;
}

.black-btn {
	color: black;
	border: 0.1875rem solid black;
}

button {
	touch-action: manipulation;
}

#add-task-btn.disabled {
	opacity: 50%;
	filter: blur(2px);
	cursor: not-allowed;
}

.footer {
	background-color: black;
	font-size: 0.875rem;
	padding: 1rem 0;

	display: grid;
	grid-template-columns: 1fr 1fr;

	gap: 2rem;

	margin: 0 2rem;
}

.footer span {
	display: flex;
	align-items: center;
	height: 2.125rem;
	white-space: nowrap;
}

.footer #signature {
	grid-column: 1;
	justify-content: left;
}

.fa-github {
	color: white;
	opacity: 75%;
	transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
	opacity: 100%;
	transform: rotate(360deg) scale(1.2);
}

.footer #speaker {
	grid-column: 2;
	justify-content: right;
}

.footer #mute {
	width: 2rem;
	justify-content: left;
	cursor: pointer;
}

.fa-volume-high,
.fa-volume-xmark {
	scale: 80%;
}

@media only screen and (min-width: 768px) {
	.wrapper {
		margin: 0 2rem;
		overflow: visible;
	}

	.header {
		margin: 0;
	}

	h1.title {
		text-align: right;
	}

	.main {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 320px 1fr;
		grid-template-rows: none;
	}

	.sidebar-toggle {
		display: grid;
		grid-template-columns: 0 2fr;
	}

	.nav {
		display: flex;
		flex-direction: column;
		flex: 1;
		margin: 0;
		padding: 2rem 0;
		width: 320px;
	}

	.input-container {
		width: calc(320px - 2rem);
		display: flex;
		flex: 1;
	}

	.tasks .input-container {
		width: calc(100% - 4rem);
	}

	.action {
		width: unset;
	}

	.sidebar-toggle .nav {
		opacity: 1;
	}

	.navigation,
	.nav button.action {
		margin-right: 2rem;
	}

	.lists .navigation .btnWrap {
		margin-right: 0rem;
	}

	.content {
		width: unset;
	}

	.btns .primary {
		flex: 1 0;
	}
	.btns .secondary {
		flex-wrap: nowrap;
	}

	.btns .primary .button {
		min-width: 152px;
	}

	.btns .secondary .button {
		min-width: 152px;
	}

	.footer {
		grid-template-columns: 1fr 1fr 1fr;
		margin: 0;
	}

	.footer #signature {
		grid-column: 2;
		justify-content: center;
	}

	.footer #speaker {
		grid-column: 3;
	}
}

@media (pointer: coarse) {
	.remove {
		visibility: visible;
	}
}
